spring:
  application:
    name: BankREST
  datasource:
    url: jdbc:postgresql://localhost:5432/bankrest_db
    username: postgres
    password: 73Pudge2481
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always
  liquibase:
    enabled: true
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
#      ddl-auto: none
    show-sql: true
  session:
    jdbc:
      initialize-schema: always
  jackson:
    serialization:
      fail-on-empty-beans: false
  main:
    allow-circular-references: true
jwt:
  secret:
    access: qBTmv4oXFFR2GwjexDJ4t6fsIUIUhhXqlktXjXdkcyygs8nPVEwMfo29VDRRepYDVV5IkIxBMzr7OEHXEHd37w==
    refresh: zL1HB3Pch05Avfynovxrf/kpF9O2m4NCWKJUjEp27s9J2jEG3ifiKCGylaZ8fDeoONSTJP/wAzKawB8F9rOMNg==
#  secret: mySuperSecretKeyThatIsVeryLongAndSecure12345!
#  expiration: 86400000 # 24 hours in milliseconds